attrs
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
config
exceptiongroup
Flask
Flask-Cors
Flask-Jsonpify
gunicorn
h11
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
npm
numpy
optional-django
outcome
packaging
pandas
PySocks
python-dateutil
pytz
regex
requests
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
threadpoolctl
tqdm
trio
trio-websocket
tzdata
Unidecode
urllib3
Werkzeug
wsproto
